.formContainer {
    padding: 10px 90px;
}

.formContainer h1 {
    text-align: center;
    color: var(--black);
    padding: 10px 0 30px;
    grid-area: title;
}

.mainForm {
    display: grid;
    grid-template-columns: 1.5fr 1.8fr;
    grid-template-areas: "imgContact form";
    width: 100%;
}

.mainForm img {
    width: 500px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    padding-right: 20px;
    grid-area: imgContact;
}
  
form {
    display: flex;
    flex-direction: column;
    grid-area: form;
}

form input, textarea {
    border-radius: 5px;
    border: 1px solid rgba(92,5,17,.4);
    outline: none;
    padding-left: 10px;
    margin: 10px 0 10px 0;
}

form input {
    display: block;
    width: 100%;
    height: 35px;
}

form textarea {
    padding: 10px;
}

form label {
    font-size: 20px;
    font-weight: 700;
}