.Menu {
    background-color: var(--white);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .42);
    padding: 10px 0 10px 0;
    font-family: 'Open Sans Condensed', sans-serif;
    z-index: 50;
}

.NavMenu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.NavMenu li {
    letter-spacing: .8px;
}

.NavMenu li:hover {
    transition: .4s ease;
    color: var(--orange);
}

.NavMenu li a, .NavMenu li a:visited {
    color: #050505;
    text-decoration: none;
}

.NavMenu li a:hover {
    transition: .4s ease;
    color: var(--orange);
}

.NavMenu .HeaderLogo {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 36px;
}