.Menu {
    background-color: var(--gray);
    color: #fafafa;
    font-size: 22px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .42);
    padding: 10px 0 10px 0;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    z-index: 50;
    grid-area: header;
}

.navMenu {
    max-width: 1440px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

.navMenu .HeaderLogo {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 36px;
    width: 20%;
}
.navMenu .HeaderLogo a {
    color: #ececec;
    transition: .3s ease color;
}

.navMenu .HeaderLogo a:hover {
    color: var(--light-purple)
}

.navMenu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
}

.navMenu li {
    margin-left: 100px;
    text-transform: uppercase;
    font-weight: 300;
}
.navMenu li:last-child {
    background-color: var(--purple);
    font-size: 21px;
    padding: 7px 10px;
    border-radius: 25px;
    font-weight: 500;
    transition: .6s ease transform;
}

.navMenu li:last-child:hover {
    transform: scale(.95);
}

.navMenu li:hover {
    transition: .4s ease;
    color: var(--light-purple);
    cursor: pointer;
}

.navMenu li a, .navMenu li a:visited {
    color: #ececec;
    text-decoration: none;
}

.navMenu li a:hover {
    transition: .4s ease;
}

