:root {
  --white: #FFFBEF;
  --bg: #FFFDF8;
  --black: #101010;
  --red: #5C0511;
  --orange: #F9AE48;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App h1 {
  text-align: center;
}