:root {
  --white: #FFFBEF;
  --gray: rgb(25, 25, 25);
  --bg: #f3f3f3;
  --black: #101010;
  --wine-red: #5C0511;
  --orange: #d3933a;
  --hover-button: #801725;
  --purple: #b023e8;
  --light-purple: #be47ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: 'Montserrat', sans-serif;
}

a, a:visited {
  text-decoration: none;
}
